/* Стили для карты разделов */
body {
    background: #a18cd1;
}

h1 {
    color: #fff;
}

.node {
    background-color: #e3f2fd;
    padding: 15px 20px;
    margin: 10px;
    cursor: pointer;
}

.node:hover {
    background-color: #bbdefb;
}

#back-to-welcome {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#back-to-welcome:hover {
    background-color: #004494;
}
